<div class="row">

  <div class="col-sm-6">
    <div class="card">
    <ngx-spinner></ngx-spinner>
      <div class="card-header">
        <strong>Create New Group</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="userGroup">Group Name</label>
              <input type="text" class="form-control" id="userGroupName" autocomplete="off" placeholder="e.g. Marketing Dept" [(ngModel)]="userGroupName" name="userGroupName" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="userMenus">Allowed actions</label> 
        </div>

        <div class="row">
          <div *ngFor = "let i of allMenus">
              <div class="col-sm col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="checkbox" id="inline-checkbox1" value={{i.description}} (change)="buildArray($event)" >
                  <label class="form-check-label" for="inline-checkbox1">{{i.description}}</label>
                  <br>
                </div>
              </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary px-4 forms-button" (click)="hitSend()">Add User Group</button>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <strong>Existing Groups</strong>
      </div>
      <div class="card-body">
        <table class="table table-striped" >
          <thead>
            <tr>
              <th>Group ID</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of allUserGroups | paginate: { itemsPerPage: elementsToShow, currentPage: p }" class='clickable-row' (click)="onSelected(group)" routerLink="/setup/update">
              <td>{{group.code}}</td>
              <td>{{group.description}}</td>
              <td>
                <i class="fa fa-eye"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>

</div>
