<div class="animated fadeIn">
  <div class="row">
    
    <!--/.col-->
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <strong>List of Users</strong>
        </div>
        <div class="card-body">
          <table class="table table-striped table-responsive" >
            <thead>
              <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Branch</th>
                <th>User Group ID</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of users | slice:startIndex:lastIndex">
              <tr>
                <td>{{user.userName}}</td>
                <td>{{user.lastName +' '+user.otherName}}</td>
                <td>{{user.userEmail}}</td>
                <td>{{user.userBranch}}</td>
                
                <td>{{user.userGroupId}}</td>
                <td>
                  <button type="button" (click)="onSelected(user)" routerLink="/users/update">
                    <span class="badge badge-success">Active</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li *ngFor="let item of getArrayFromANumber(users.length); let i = index" class="page-item"><a class="page-link" (click)="updateIndex(i)">{{i +1}}</a></li>
          </ul>

                    
          <!--<ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>-->
          
        </div>
      </div>
    </div>
  </div>
</div>
