<div class="animated fadeIn">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <strong>List of Users</strong>
        </div>
        <div class="card-body">
          <table class="table table-striped" >
            <thead>
              <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Branch</th>
                <th>User Group ID</th>
                <!--<th>View</th>-->
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let user of users | paginate: { itemsPerPage: usersToShow, currentPage: p }" class='clickable-row' (click)="onSelected(user)" routerLink="/users/update">
                <td>{{user.userName}}</td>
                <td>{{user.lastName +' '+user.otherName}}</td>
                <td>{{user.userEmail}}</td>
                <td>{{user.userBranch}}</td>
                <td>{{user.userGroupId}}</td>
                <!--<td>
                <i class="fa fa-eye"></i>
                </td>-->
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
</div>
