// Here you can add other styles

@import '~ngx-toastr/toastr';

.sidebar {
    background-image: linear-gradient( blue, black) !important;
}

// tbody {
//     // font-size: 90%;
//     width: auto;
// }

.jumbotron {
    background-image: linear-gradient(-30deg, rgba(37, 112, 224,0), rgba(37, 112, 224,1));
    border-radius:0;
    margin-bottom:0;
    height: 100vh;
    width: 100vw;
    padding:0;
    position: absolute;
    bottom: 0%;
}
.container-particles {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin-bottom: 0;
}

.table {
    width: 100%;
}


